@font-face {
  font-family: "HelveticaNeue";
  src: url("HelveticaNeue.ttf");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("HelveticaNeueBold.ttf");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("HelveticaNeueMedium.ttf");
}
